
<html lang="fr-FR"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
<head>
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/css/style.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/bootstrap/css/bootstrap.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/bootstrap-iso/bootstrap-iso.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/bootstrap-iso/bootstrap.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/bootstrap-iso/bootstrap-theme.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/bootstrap/css/bootstrap-theme.css') }}" >
    <link rel="stylesheet" id="wpsm_tabs_r_animate-css"   href="{{asset('assets/siteWeb/css/animate.css') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/bootstrap/css/bootstrap-theme.css.map') }}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/css/easy-responsive-tabs.css')}}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/css/widget.css')}}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/css/bootstrap-front.css')}}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/css/bootstrap_dropdown.min.css')}}" >
    <link rel="stylesheet"   href="{{asset('assets/siteWeb/css/bootstrap_tab.min.css')}}" >
    <link rel="dns-prefetch" href="http://maps.googleapis.com/">
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
    <link rel="stylesheet" href="{{asset('assets/siteWeb/css/res_tab_icon.css')}}">
    <link rel="stylesheet" href="{{asset('assets/siteWeb/css/bootstrap-front.css')}}">
    <link rel="stylesheet" id="education-hub-google-fonts-css" href="{{asset('assets/siteWeb/css/css')}}" type="text/css" media="all">
    <script src="{{asset('assets/siteWeb/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/bootstrap.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/bootstrap-tab.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/bootstrap-tabdrop.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/map-icons.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/navigation.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/jquerycycle2.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/jquery.easy-ticker.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/jquery/jquery.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/jquery.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/jquery-migrate.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/common.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/google-maps-builder.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/wp-embed.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/easyResponsiveTabs.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/gmb-infobubble.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/custom.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/skip-link-sfocus-fix.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/navigation.min.js') }}"></script>
    <script src="{{asset('assets/siteWeb/js/jquerycycle2.js') }}"></script>
    <script type="text/javascript" src="{{asset('assets/siteWeb/js')}}">  </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

    </style>
    <style>
        #socialmedia table, tr, td, th {
            border: 0;
        }

    </style>
    <style type="text/css" id="custom-background-css">
        body.custom-background { background-color: #ffffff; }
    </style>

    <style type="text/css">
        a,a:visited{color:#15305b}
        a:hover{color:#4992c9}
        h1,h2,h3,h4,h5,h6{color:#0065b3}
        .search-form .search-submit,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{background-color:#01b3e3}
        a.cta-button-primary,.nav-links a,.comment-reply-link,button, input[type="button"], input[type="reset"], input[type="submit"],#infinite-handle span button{background-color:#01b3e3}
        #tophead ,#tophead p{background-color:#4992c9}
        #quick-contact li::before,.top-news-title::before{color:#071f5d}
        #main-slider .cycle-prev::after, #main-slider .cycle-next::after{background-color:#0065b3}
        #main-slider .cycle-prev:hover::after, #main-slider .cycle-next:hover::after{background-color:#01b3e3}
        #main-slider .pager-box{background-color:#01b3e3}
        #sidebar-primary .widget-title, #sidebar-secondary .widget-title{background-color:#0065b3}
        #sidebar-primary .widget-title::after, #sidebar-secondary .widget-title::after{border-top-color:#0065b3}
        #sidebar-primary .widget-title, #sidebar-secondary .widget-title{border-color:#01b3e3}
        .widget-area ul li::before{color:#01b3e3}
    </style>

    <title>ENSI</title>
</head>
<body class="home blog custom-background wp-custom-logo site-layout-fluid global-layout-right-sidebar">
<div id="page" class="container hfeed site">
    <a class="skip-link screen-reader-text" href="http://www.ensi-uma.tn/#content">Skip to content</a>
<div id="tophead">
    <div class="container">
        <div id="quick-contact">
            <ul>
                <li class="quick-call"><a href="tel:71600444">71 600 444</a></li>
                <li class="quick-email"><a href="mailto:direction@ensi-uma.tn">direction@ensi-uma.tn</a></li>
            </ul>
            <div class="top-news">
						<span class="top-news-title">
							Université:												</span>

                <div id="notice-ticker" style="position: relative; height: 22.0229px; overflow: hidden;">
                    <div class="notice-inner-wrap" style="margin: 0px; position: absolute; top: 0px;">


                        <div class="list" style="margin: 0px; display: block;">
                            <a href="inauguration-du-centre-de-recherche-de-lensi/index.html">Inauguration du Centre de Recherche de l’ENSI</a>
                        </div><div class="list" style="margin: 0px; display: block;">
                            <a href="bonjour-tout-le-monde/index.html">Bienvenue dans le site web de l’ENSI</a>
                        </div></div> <!-- .notice-inner-wrap -->
                </div><!-- #notice-ticker -->


            </div>
        </div>

        <div class="quick-links">
            <a href="#" class="links-btn">Liens rapides</a>
            <ul><li class="page_item page-item-60"><a href="admissions/index.html">Admissions</a></li>
                <li class="page_item page-item-41"><a href="co-diplome/index.html">Co-diplôme</a></li>
                <li class="page_item page-item-70"><a href="contact/index.html">Contact</a></li>
                <li class="page_item page-item-37"><a href="conventions/index.html">Conventions</a></li>
                <li class="page_item page-item-39"><a href="conventions-universite/index.html">Conventions université</a></li>
                <li class="page_item page-item-15"><a href="cursus-ingenieur/index.html">Cursus ingénieur</a></li>
            </ul>				</div>

        <div class="header-social-wrapper">
            <div class="widget education_hub_widget_social"></div>				</div><!-- .header-social-wrapper -->

    </div> <!-- .container -->
</div>
<header id="masthead" class="site-header" role="banner"><div class="container">		    <div class="site-branding">

            <a href="{{ path('homepage')}}" class="custom-logo-link" rel="home" itemprop="url"><img width="186" height="234" src="{{asset('assets/siteWeb/img/logos/ensi-logo.png')}}" class="custom-logo" alt="cropped-Logo-p.png" itemprop="logo"></a>
            <div id="site-identity">
                <h1 class="site-title"><a href="{{ path('homepage')}}"  rel="home">Ecole Nationale des Sciences de l'Informatique</a></h1>

                <p class="site-description"></p>
            </div><!-- #site-identity -->

        </div><!-- .site-branding -->

        <div class="search-section">

                <form role="search" method="get" class="search-form" action="">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Recherche..." value="" name="s" title="Search for:">
                    </label>
                    <input type="submit" class="search-submit" value="Chercher">
                </form>
                <!--liens social media -->
                <br>
                <br>
                <table id="socialmedia">
                  <tr>
                      <td>
          <a href="https://www.facebook.com/blogfunambuline" wrc_done="true">
                        <img border="27" height="" src="{{asset('assets/siteWeb/img/logos/facebook.png')}}"
                             width="27"></a>
                      </td>
                      <td >
                    <a href="https://instagram.com/funambuline/" wrc_done="true">
                        <img border="0" height="27" src="https://2.bp.blogspot.com/-vz5QvsSh1pA/VzNSGWEW_TI/AAAAAAAASTk/QshuqsI5IigoGjgzKdFWnJgSxlng9Jl3QCLcB/s1600/instagram%2Bfunambuline%2Bmini.png" width="27">
                    </a>
                          </td>
                      <td >
                      <a href="https://twitter.com/mllefunambuline" wrc_done="true">
                          <img border="0" height="27" src="https://lh3.googleusercontent.com/gPXuK1mWe1sOByEPbqpHhi5dYQ7UiaOyvTtBDSHC4pg=s196-p-no" width="27"></a>
                        </td>
                      <td>
                          <a href="https://www.pinterest.com/funambuline/" wrc_done="true">
                              <img border="0" height="27" src="https://lh3.googleusercontent.com/EKFR4kLaQ6kRu_aL2Uv15CHLxKd-pQIM85NrKDS2G1s=s196-p-no" width="27"></a>
                        </td>
                      <td >
                          <a href="https://www.linkedin.com/in/noemimassard" wrc_done="true">
                              <img border="0" height="27" src="https://lh3.googleusercontent.com/Zyr5WyhYmo7VTT0K9Xyk7OqEKgG_SjCO7KYEACFP1KQ=s196-p-no" width="27">
                          </a>
                   </td>
                      <td>
                    <a href="http://funambuline.blogspot.com/feeds/posts/default?alt=rss">
                        <img border="0" height="27" src="https://lh3.googleusercontent.com/e8BWR1gupTZJ-fYtoewtKp-NINzuwJuEChsK6cGmPwg=s196-p-no" width="27">
                    </a>
                    </td>

                    </tr>
                    </table>
        </div>
        <!--liens social media -->

            </form>
        </div>



    <!--espace privé-->




</header>



