<div id="featured-slider">
    <div class="container">
        <!-- slider-->
        <div class="cycle-slideshow" id="main-slider" data-cycle-fx="fadeout" data-cycle-speed="2000" data-cycle-pause-on-hover="true" data-cycle-loader="true" data-cycle-log="false" data-cycle-swipe="true" data-cycle-auto-height="container" data-cycle-caption-template=""  data-cycle-timeout="350" data-cycle-slides="article" style="height: 551px;">

            <!-- prev/next links -->
            <div class="cycle-prev"></div>
            <div class="cycle-next"></div>

            <!-- empty element for caption -->
            <div class="cycle-caption"><h3><a href="" target="_self">Bienvenue à l'ENSI</a></h3><p>Bienvenu à l’École Nationale des Sciences de l'Informatique</p></div>
            <!-- pager -->
            <div class="cycle-pager"><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box"></span><span class="pager-box cycle-pager-active"></span></div>


            <article class="cycle-slide" data-cycle-title="Centre de vie" data-cycle-url="" data-cycle-excerpt="" data-cycle-target="_self" style="visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 0; display: block;">

                <img src="{{asset('assets/siteWeb/img/slider/vie.jpg')}}" alt="Centre de vie">

            </article><article class="cycle-slide" data-cycle-title="La bibliothèque" data-cycle-url="" data-cycle-excerpt="" data-cycle-target="_self" style="visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 96; opacity: 0; display: block;">

                <img src="{{asset('assets/siteWeb/img/slider/bib.jpg')}}" alt="La bibliothèque">

            </article><article class="cycle-slide" data-cycle-title="La scolarité" data-cycle-url="" data-cycle-excerpt="" data-cycle-target="_self" style="visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 95; opacity: 0; display: block;">

                <img src="{{asset('assets/siteWeb/img/slider/ensiview1.jpg')}}" alt="La scolarité">

            </article><article class="cycle-slide" data-cycle-title="La direction" data-cycle-url="" data-cycle-excerpt="" data-cycle-target="_self" style="visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 94; opacity: 0; display: block;">

                <img src="{{asset('assets/siteWeb/img/slider/direction.jpg')}}" alt="La direction">

            </article><article class="cycle-slide" data-cycle-title="Centre de recherche" data-cycle-url="" data-cycle-excerpt="" data-cycle-target="_self" style="visibility: hidden; position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; display: block;">

                <img src="{{asset('assets/siteWeb/img/slider/centreRecherche.jpg')}}" alt="Centre de recherche">

            </article><article class="first cycle-slide cycle-slide-active" data-cycle-title="Bienvenue à l&#39;ENSI" data-cycle-url="" data-cycle-excerpt="Bienvenu à l’École Nationale des Sciences de l&#39;Informatique" data-cycle-target="_self" style="visibility: visible; position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1; display: block;">

                <img src="{{asset('assets/siteWeb/img/slider/ENSIview.jpg')}}" alt="Bienvenue à l&#39;ENSI">

            </article></div> <!-- #main-slider -->

    </div><!-- .container -->
</div><!-- #featured-slider -->